extends ../layouts/index.pug

block content 
  h1.mb-4 Авторизация

  .card.p-3(style="max-width: 500px;")
    form(action=route('session'), method = "post")
      .mb-3
        label.form-label(for = "login") Логин / email
        input.form-control(type="text", id="login", name="login", value = user ? user.login : '')
      input.btn.btn-primary(type="submit", value="Войти")